In [1]:
import pandas as pd

users_info = pd.read_csv('C:/Akshata/Courses/summer19/large_scale_analytics/Individual_project/BX-CSV-Dump/BX-Users.csv',
                        sep='delimiter', error_bad_lines=False, engine="python",index_col=False, delimiter=";", quoting = 3)

users_info = users_info.dropna(axis=0, subset=['"Location"','"Age"'])
users_info.columns = ['userid', 'Location', 'Age']

books_info = pd.read_csv('C:/Akshata/Courses/summer19/large_scale_analytics/Individual_project/BX-CSV-Dump/BX-Books.csv',
                        error_bad_lines=False, engine="python",index_col=False, delimiter=";", quoting = 3)
books_info.drop(books_info.columns[[5,6,7]], axis = 1, inplace=True)
books_info.columns = ['ISBN', 'BookTitle', 'BookAuthor', 'YearOfPublication', 'Publisher']

In [2]:
from sklearn import preprocessing
le = preprocessing.LabelEncoder()

users_info.userid = le.fit_transform(users_info.userid)
users_info.Location = le.fit_transform(users_info.Location)
users_info.Age = le.fit_transform(users_info.Age)

books_info.ISBN = le.fit_transform(books_info.ISBN)
books_info.BookAuthor = le.fit_transform(books_info.BookAuthor)
books_info.YearOfPublication = le.fit_transform(books_info.YearOfPublication)
books_info.Publisher = le.fit_transform(books_info.Publisher)

In [3]:
users_info.head()

    userid  Location  Age
1    67130     35119   56
3   127721     29187   53
5   141147     32351  127
9        0       767   88
10    6768     22853   37

In [4]:
books_info.head()

,ISBN,BookTitle,BookAuthor,YearOfPublication,Publisher
0,25030,"""Classical Mythology""",68446,566,10846
1,73,"""Clara Callan""",84385,565,6600
2,8212,"""Decision in Normandy""",17047,555,6603
3,60203,"""Flu: The Story of the Great Influenza Pandemi...",38208,563,5260
4,71716,"""The Mummies of Urumchi""",29206,563,15610

In [5]:
from sklearn.metrics.pairwise import cosine_similarity
import numpy as np

In [6]:
def collaborative_filtering(user):
    priority = []
    target_user_info = users_info[users_info.userid == user]
    for test_index, item in users_info.iterrows():
        if(item.userid == user):
            continue
        else:
            temp = []
            x = [target_user_info['userid'].values, target_user_info['Location'].values, target_user_info['Age'].values]
            x = np.array(x).reshape(1,-1)
            y = [item['userid'], item['Location'], item['Age']]
            y = np.array(y).reshape(1,-1)
            mat = cosine_similarity(x,y)
            sim = mat[0][0]
            temp.append(item.userid)
            temp.append(sim)
            priority.append(temp)
    priority.sort(key=lambda x:x[1])
    priority = priority[::-1] 
    print("Following are the recommended books, based on user based collaborative filtering approach:")
    for i in range (0,5):
        row = books_info[books_info.ISBN == priority[i][0]]
        print(row.BookTitle.values[0])
    
collaborative_filtering(67130)

Following are the recommended books, based on user based collaborative filtering approach:
"The Viscount Who Loved Me"
"Heart Of Gold (Silhouette Romance, No 586)"
"The Old Gringo : A Novel"
"The Wrong Woman  (Twins)"
"Take off the masks"